
<header>
  <!-- 
  <div class="container">
    <span><img id="logo" class="logoss" src="../assets/images/apple.svg" alt="apple logo"></span>
    <nav>
      <a href="">Mac</a>
      <a href="">iPad</a>
      <a href="">iPhone</a>
      <a href="">Watch</a>
      <a href="">TV</a>
      <a href="">Music</a>
      <a href="">Support</a>
    </nav>
    <div class="right">
				<span><img id="search" src="../assets/images/search.svg"></span> 
				<span><img id="lock" src="../assets/images/bag.svg"></span>
        
			</div>
  </div>

<script src="https://use.fontawesome.com/c118aa5ce8.js"></script>
<div class="banner">
</div>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav> -->
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <li class="nav-item">
    <a class="nav-link" href="#"><img id="logo" class="logoss" src="../assets/images/apple.svg" alt="apple logo"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Mac</a>
  </li><li class="nav-item">
    <a class="nav-link" href="#">iPad</a>
  </li><li class="nav-item">
    <a class="nav-link" href="#">iPhone</a>
  </li><li class="nav-item">
    <a class="nav-link" href="#">Watch</a>
  </li><li class="nav-item">
    <a class="nav-link" href="#">TV</a>
  </li><li class="nav-item">
    <a class="nav-link" href="#">Music</a>
  </li><li class="nav-item">
    <a class="nav-link" href="#">Support</a>
  </li>
  
  <li>
    <i class="bi bi-bag-fill">link</i>
  </li>
  

    <!-- <a href="">Mac</a>
    <a href="">iPad</a>
    <a href="">iPhone</a>
    <a href="">Watch</a>
    <a href="">TV</a>
    <a href="">Music</a>
    <a href="">Support</a> -->
    <!-- <div class="right">
      <span><img id="search" src="../assets/images/search.svg"></span> 
      <span><img id="lock" src="../assets/images/bag.svg"></span>
    </div> -->
</nav>
</header>

<nav class="navbar" style="background-color: #2f3132;">
  <p>Save up to ₹8000.00 instantly on eligible products with HDFC Bank Credit Cards.* Plus No Cost EMI from most leading banks.<a href="">‡ Shop now ></a></p>
</nav>
<router-outlet></router-outlet>
