<header>
  <div class="container">
    <div class="nav-item">
      <a href="#" class="nav-link nav-link-apple"></a>
    </div>
    <nav>
      <a href="">Mac</a>
      <a href="">iPad</a>
      <a href="">iPhone</a>
      <a href="">Watch</a>
      <a href="">TV</a>
      <a href="">Music</a>
      <a href="">Support</a>
    </nav>
    <div class="right">
				<span><img id="search" src="../assets/images/search.svg"></span> 
				<span><img id="lock" src="../assets/images/bag.svg"></span>
			</div>
  </div>
</header>
<script src="https://use.fontawesome.com/c118aa5ce8.js"></script>
<div class="banner">
</div>
<router-outlet></router-outlet>
